/* This is css is for all the pages*/
/* applies to all pages */
/* combine to one css when done*/
/* for organization purposes*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dedec8;
    font-family: 'Roboto Slab',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 { 
    font-family: Oswald; font-size: 25px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.4px; 
}




