/* this css is for the sections of a webpage ( header, sections, articles, footers etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* header styles */
header{
    height: 75px;
    background:#9d7a42;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: black;
}

.header-border{
    width: 100%;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    
}

.header-right{
    width: 40%;
    justify-content: right;
    align-items: center;
    display: flex;
}

.header-right a {
    margin-right: 5%;
    height: 30%;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-right: 2%;
    padding-left: 2%;
}

.header-right a:hover {
    border-radius: 25%;
    background-color: #9c8156;
    color: white;
    
}

.header-name{
    display: flex;
    justify-content: left;
    margin-right: auto;
    margin-left: 10%;
    border: rebeccapurple;
}

.logo-img{
    display: flex;
    width: 60%;
}

.logo-img a img{
    width: 250px;
    justify-content: left;
}


/* Footer styles */
footer{
    min-height: 150px;
    width: 100%;
    background-color:#424242;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border: black;
    position: absolute;
    color: #AF8C53;
}

.footer-left a{
    text-decoration: none;
    color: #9c8156;
}

.footer-left a:hover{
    color: #AF8C53;
}


.footer-left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.footer-left img{
    width: 150px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: ce;
}


/* style for modals (popups) */


.modal-content{
    border: none;
    color: white;
    background: #343935;
    background-image: url("images/modalgreen.png");
    background-size: 30%;
    background-position: left top;
    background-repeat: no-repeat, repeat;
    display: flex;
    align-items: center;
}
/* this is for the input boxes */
.modal-body input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 5px;
    background-color: #B5CB99;
    border: none;
}

/* this is for the text area inside input */
.modal-body textarea{
    width: 100%;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: #B5CB99;
    border: none;
}

.modal-body textarea:focus{
    background-color: #B5CB99;
}

.modal-header{
    align-self: normal;
    width: 100%;
    display: flex;
}

.modal-title{
    margin-left: auto;
}

.modal-footer{
    align-self: normal;
}

.modal-footer button{
    background-color: red;
    border: none;
    border-radius: 50px;
    width: 100px;
}

.modal-logo{
    width: 85px;
}

.modal-title{
    color: white;
    width: 100%;
    margin: auto;
    align-self: center;
    
}
/* style for main content of home page main body */
.main-home{
    display: flex;
    min-height: calc(100vh - 265px);
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    color: #AF8C53;
}



/* style for main of booking */

.main-booking{
    display: flex;
    min-height: calc(125vh - 300px);
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    color: #AF8C53;
    background-image: url('images/wallpaperdog.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}


/* main accountuser */

.main-accountuser{
    display: flex;
    min-height: calc(100vh - 265px);
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    color: #AF8C53;
}

/* main receipt */

.main-receipt{
    display: flex;
    min-height: calc(125vh - 300px);
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    color: #AF8C53;
    background-image: url('images/wallpaperdog.jfif');
    background-repeat: no-repeat;
    background-size: cover; 
}
