/* this css is for the sections of a webpage ( header, sections, articles, footers etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* header styles */
header{
    height: 100px;
    background:#9d7a42;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: black;
}

.header-border{
    width: 100%;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    
}

.header-right{
    width: 40%;
    justify-content: right;
    align-items: center;
    display: flex;
}

.header-right a {
    margin-right: 5%;
    height: 30%;
    text-decoration: none;
    color: black;
}

.header-right a:hover {

    color: white;
}



.header-name{
    display: flex;
    justify-content: left;
    margin-right: auto;
    margin-left: 10%;
    border: rebeccapurple;
}

.logo-img{
    display: flex;
    width: 60%;
}



.logo-img a{
    width: 100px;
    size: 1000px;
    justify-content: left;
}

.logo-img h1{
    width: 100px;
    color: white;
    justify-content: right;
}


.logo-img a img{
    width: 250px;
    justify-content: left;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

.search-container{
    margin: auto;
    height: 35px;
    width: 225px;
    display: inline-flex;
    border: 2px solid white;
    overflow: hidden;
    
}

.search-icon {
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.searchBox{
    outline: none;
    border: 0;
    flex: 1;
    color: white;
    background-color: rgba(0,0,0,0);
}

.searchBox::placeholder{
    padding: 3px;
    color: white;
    opacity: 1;
}

header nav ul a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 15px;
}

header nav ul a:hover {
    color: gray;
}

.header-bottomshape {
    background: #3D4633;
    height: 35px;
    border-top: black solid 1px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-bottomshape li a {
    font-size: 16px;
    padding: 5px 30px 5px 30px;
}


/* Footer styles */
footer{
    margin-top: 50px;
    height: 150px;
    width: 100%;
    background-color:#252926;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border: black;
    position: absolute;
}



footer a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.footer-top{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Slab';
    margin-top: 10px;
    width: 100%;
    height: 40px;
    width: 100%;
}

.footer-bottom-left{
    font-size: 14px;
    margin: 0;
    text-align: left;
    padding-right: 20px;
    padding-top: 50px;
    width: 50%;
    height: 90px; 
    font-family: 'Roboto Slab';
}

.footer-bottom-left a:hover{
    color: gray;
}


.footer-bottom{
    font-size: 14px;
    margin: 0;
    text-align: right;
    padding-right: 20px;
    padding-top: 50px;
    width: 50%;
    height: 90px; 
    font-family: 'Roboto Slab';
}

.footer-bottom a:hover{
    color: gray;
}

/* style for modals (popups) */


.modal-content{
    border: none;
    color: white;
    background: rgb(61,70,51);
    background-image: url("images/modalgreen.png");
    background-size: 30%;
    background-position: left top;
    background-repeat: no-repeat, repeat;
    display: flex;
    align-items: center;
}

.modal-body input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 5px;
    background-color: #B5CB99;
    border: none;
}

.modal-body textarea{
    width: 100%;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: #B5CB99;
    border: none;
}

.modal-body textarea:focus{
    background-color: #B5CB99;
}

.modal-header{
    align-self: normal;
}

.modal-title{
    margin-left: auto;
}

.modal-footer{
    align-self: normal;
}

.modal-footer button{
    background-color: red;
    border: none;
    border-radius: 50px;
    width: 100px;
}

.modal-logo{
    width: 85px;
}


/* style for main content of home page main body */
.main-home{
    display: flex;
    min-height: calc(100vh - 265px);
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

/* style for the entry template */
.main-entry{
    display: flex;
    min-height: calc(100vh - 265px);
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

/* style of about us page */

.main-about{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* style for search page */
.main-search{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: calc(100vh - 265px);
    align-items: flex-start;
    justify-content: center;
}

/* style for entry submission page */
.main-entrysubmission{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

/* style for contact us page */
.main-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}
/* style for terminologies page */

.main-terms{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}


/* style for faq page */
.main-faq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

/* style for privacy page */

.main-privacy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

/* style for terms and agreements page */

.main-termsand{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

/* style for entry list page */

.main-entryList{  
    display: flex;
    min-height: calc(100vh - 265px);
    width: 80%;
    justify-content: center;
    margin: auto;
}



/* style for recruitment page */

.main-recruitment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

.main-recruitment h1{
    width: 100%;
}

/* sstyle for history page */

.main-history{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}

/* put in here becuz it wont work if in modules css? */
.main-history{
    font-family: Oswald;
}


/* style for entry edit page */

.main-entryEdit{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 265px);
    width: 80%;
    margin: auto;
}
