/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* separate styles of each page by comment  */


/* styles for classes inside main-home */

@media only screen and (max-width: 728px) {
    .header-right{
        width: 100%;
    }
    .left-top-home{
        width: 100%;
        min-height: 60vb;
        background-color: #343935;
        border: rebeccapurple;
    }
    .right-top-home{
        width: 100%;
    }
}

.content-top-home{
    background-color: #343935;
    width: 100%;
}

.left-top-home{
    width: 50%;
    min-height: 60vb;
    background-color: #343935;
    border: rebeccapurple;
    display: flex;
    flex-direction: column;
    
}

.left-top-home h2{
    font-size: 73px;
    margin-left: 5%;
}

.homebutton{
    height: 50px;
    width: 30%;
    background-color: #AF8C53;
    border: none;
    align-self: center;
}

.homebutton:hover{
    background-color: #b49564;
}

.right-top-home{
    width: 100%;
    max-height: 60vb;
}

.right-top-home img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.left-top-home h2{
    color: #AF8C53;
}

.right-top-home{
    width: 50%;
    background-color: black;
    border: red;

}

.content-middle-home{
    width: 100%;
    background-color: #252926;
    min-height: 50vb;
}

.content-bottom-home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vb;
}

.content-bottom-topleft-home{
    width: 100%;
    background-color: #252926;
    display: flex;
}

.content-bottom-left-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

.content-bottom-right-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

#booknowbtn{
    text-decoration: none;
    color: white;
}

/* styles for signup */
.login-form {
    border: 2px solid #ccc;
    padding: 20px; 
    width: 300px;
    margin: 0 auto;
}

.menu-form {
    display: inline-block;
    width: 120px;
}

.textFields-form {
    width: calc(100% - 5px); 
}

.submit-btn{
        background-color: #9d7a42;
        position: relative;
        
    }
.signup-form{
        text-align: center
    }

.signup-heading{
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
    color: #333; 
    margin-bottom: 20px;
}
/* styles for booking */

.content-left-booking h2{
    color: white;
}

#bform{

    background-color: white ;
    border-radius: 2%;
}

.content-left-booking{
    width: 60%;
}

.content-right-booking{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.textarea-form{
    height: 150px;
}

.content-right-form-booking{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
}

.content-right-form-booking h2{
    margin: auto;
    width: 25%;
}

.menu-form{
    margin-left: 5%;
    width: 50%;
}

.textFields-form{
    margin-top: .5%;
    margin-left: 5%;
    width: 50%;
}

.textarea-form{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.bookbutton{
    background-color: #AF8C53;
    border: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
}

.bookbutton:hover{
    background-color: #b49564;
}

/* styles for accountuser */

.content-top-accountuser{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.content-middle-accountuser{
    width: 80%;
}
