/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* separate styles of each page by comment  */


/* styles for classes inside main-home */
.content-top-home{
    background-color: #3D4633;
    margin-top: 50px;
    height: 350px;
    width: 100%;
}



/* styles for entry Template */

.content-top-entrytem{
    text-align: center;
    width: 100%;
    margin: 5px 0 20px 0;
}

.content-left-entrytem{
    width: 50%;  
}

.content-right-entrytem{
    width: 50%;
    height: 30%;
    border: 2px solid black;
}

.content-right-entrytem img{
    width: 100%;
    max-height: 100%;
}
.entry-line{
    width: 100%;
    border-bottom: 2px dotted black;
    height: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content-bottom-entrytem{
    font-family: Oswald;
    
}

.content-bottom-entrytem-btns{
    display: flex;
    width: 100%;
    justify-content: right;
}

.content-bottom-entrytem-btns a{
    margin-right: 20px;
}

/* styles for about us */
.container-top-main-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container-top-main-about h1{
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0 ;
}

.container-top-main-about img{
    width: 500px;
    margin-bottom: 20px;
    
}

.container-bottom-main-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}

.employeepart-about{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.employeepart-about img{
    width: 500px;
    height: 500px;

}

.employeepart-about p{
    width: 47%;

}



/* styles for search page*/


/* top content */
.content-top-search{
    width: 100%;
}

.content-top-search h1{ 
    margin: 0 20%;
} 

/* content for search options */
.content-bottom-search{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.box-top-search{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* search bar */
.search-container-main-search{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08); 
    height: 35px;
    width: 100%;
    display: inline-flex;
    border: none;
    background-color: #c0c0c0;
    overflow: hidden;
    margin-bottom: 25px;
}

.search-icon-main-search {
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.searchBox-main-search{
    border: 0;
    flex: 1;
    color: black;
    background-color: rgba(0,0,0,0);
}

.searchBox-main-search::placeholder{
    padding: 3px;
    color: black;
    opacity: 1;
}

/* dropdown menu */

.content-bottom-search select{
    padding: 50px;
    width: 100%;
}


.search-dropdown-first{
    width: 100%;
    margin-bottom: 20px;
}


.search-dropdown-first button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    background-color: #c0c0c0;
    color: black;
    width: 100%;
    padding: 10px 15px;
    border: none;
    text-align: left;
    cursor: pointer;
}

.search-dropdown-first img{
   text-align: right;
    
}

.search-dropdown-first:hover .search-dropdown-firstmenu{
    display: block;
}

.search-dropdown-firstmenu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.search-dropdown-firstmenu {
    display: none;
    background-color:#bfbfbf;
    position:absolute;
    min-width: 904px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, .8);
}

.search-dropdown-first:hover button{
    background-color: #d7d3d3;
}
 
.search-dropdown-firstmenu a:hover{
    background-color: #d7d3d3;
}

/* submit buttton */
.search-submit-btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    align-self: flex-end;
    padding: 10px 15px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color:A6A6A6 ;
}

.search-submit-btn:hover{
    background-color: #d7d3d3;
}


/* style for contact us page */

.top-container-contact{
    text-align: center;
    width: 100%;
}

.left-container-contact{
    width: 50%;
    justify-self: center;
    text-align: center;
}

.left-container-contact h1{
    width: 100%;
}

.left-container-contact h2{
    text-align: left;
    width: 100%;
    margin-top: 25px;
}

.left-container-contact p{
    text-align: left;
    width: 100%;
}

.right-container-contact{
    width: 50%;
}

.right-container-contact h2{
    text-align: left;
    width: 100%;
    margin-top: 25px;
}

.bottomleft-container-contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 250px;
    padding: 0 10px;
    width: 50%;
    background-color: #172E51;
    color: white;
}

.bottomleft-container-contact h2{
    text-align: center;
    width: 100%;
    color: white;
}


.bottomleft-container-contact ul{  
    list-style-type: none;
    width: 100%;
    
}

.bottomleft-container-contact ul li a{  
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 50px;
}


.bottomleft-container-contact ul li{  
    margin-bottom: 10px;
}
 


.bottomright-container-contact{
    width: 50%;
    background-color: #C1FF72;
}

.logo-contact{
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

/* style for terminologies page */


.main-terms{
    font-family: Oswald;
}

.main-terms h1{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.main-terms h2{
    width: 100%;
    color: red;
}
.main-terms h3{
    width: 100%;
}
.main-terms h4{
    width: 100%;
}

.main-terms p{
    margin-bottom: 25px;
}

.main-terms hr{
    width: 100%;
    background: black;
    height: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
}
/* styles for faq page */

.top-container-faq{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 100%;
    justify-content: center;
}


.top-container-faq img{
    width: 40px;
    height: 40px;
    margin-top: -15px;
}

.bottom-container-faq{
    margin-top: 40px;
}

.bottom-container-faq h2{
    width: 100%;
}

.bottom-container-faq p{
    margin-bottom: 15px;
}

/* styles for privacy policy page */

.content1-top-privacy{
    margin-top: 50px;
    font-family: Oswald;
    
}   

.line-privacy{
    width: 100%;
    background: black;
    height: 5px;
    
}

/* styles for terms and agreements */

.content1-top-termsand{
    margin-top: 50px;
    font-family: Oswald;
    
}   

.line-termsand{
    width: 100%;
    background: black;
    height: 5px;
    
}

/* styles for recruitment page */

.main-recruitment h2{
    width: 100%;
}

.buttons-recruitment {
    border-top: gray solid;
    border-bottom: gray solid;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons-recruitment button{
    border-top: none;
    border-bottom: none;
    border-right: gray 2px solid;
    width: 100%;
    margin: 0;
}

#btn-res{
    border-right: 2px gray solid;
}

.sec-rec{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.sec-rec h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}


.inv-rec{
    display: none;
    flex-wrap: wrap;
    margin-top: 50px;
}

.inv-rec h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.con-rec{
    display: none;
    flex-wrap: wrap;
    margin-top: 50px;
}

.con-rec h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.res-rec{
    display: none;
    flex-wrap: wrap;
    margin-top: 50px;
}

.res-rec h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.active, .buttons-recruitment button:hover{
    background-color: #666;
    color: white;
  }


.image-recruitment{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-recruitment img{
   width: 40%;
   min-height: 200px;
   max-height: 400px;
}

.button-con-rec{
    width: 100%;
}

.button-con-rec{
    display: flex;
}


.button-con-rec a{
    margin-left: auto;
}


.btn-apply-rec{
    width: 100px;
    height: 50px;
    margin-left: auto;
    background-color: #DF935C;
    border: none;
    font-weight: bold;
    font-size: large;
}

.btn-apply-rec:hover{
    background-color: #fcb582;

    
}

.line-recruitment{
    border: 1px solid black;
    width: 100%;
}


/* style for entry list page */

.masterlist thead{
   
}

.masterlist a{
    text-decoration: none;
}

.masterlist p{
    color: black;
}

.masterlist th:nth-child(1){
    width: 500px;
}

tbody th{
    text-align:right;
    }

th:nth-child(1){
        width:250px;
}

/* styles for entry submission page */ 

.entrysubmission-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.selectmenu{
    width: 100%;
}

.textFields-form{
    width: 100%;
    background-color: #d1e7dd;
    border: none;
    border-radius: 5px;
}

.select-menu-form{
    width: 100%;
    margin-bottom: 10px;
    background-color: #d1e7dd;
    border: none;
    border-radius: 5px;
}

.menu-form{
    width: 100%;
    margin-bottom: 10px;
}

.inImg-form{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    background-color:  #d1e7dd;
}





.btnSubmit-form{
    display: flex;
    flex-wrap: wrap;
}

.btnSubmit-form button{
    text-align: left;
}

/* style for history page */

.main-history h1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.main-history h2{
    width: 100%;
    color: red;
}
.main-history h3{
    width: 100%;
}
.main-history h4{
    width: 100%;
}

.main-history p{
    margin-bottom: 25px;
}

.main-history hr{
    width: 100%;
    background: black;
    height: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
}


.quote-history {
    font-style: italic;
   
    width: 100%;
}


/* styles for list */

.link-list{
    color: black;
}

.link-list:hover{
    color: gray;
}

