/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* separate styles of each page by comment  */


/* styles for classes inside main-home */

@media only screen and (max-width: 728px) {
    .header-right{
        width: 100%;
    }
    .left-top-home{
        width: 100%;
    }
    .right-top-home{
        width: 100%;
    }
}

.content-top-home{
    background-color: #343935;
    width: 100%;
}

.left-top-home{
    width: 50%;
    min-height: 60vb;
    background-color: #343935;
    border: rebeccapurple;
}



.left-top-home h2{
    color: #AF8C53;
}

.right-top-home{
    width: 50%;
    background-color: black;
    border: red;

}

.content-middle-home{
    width: 100%;
    background-color: #252926;
    min-height: 50vb;
}

.content-bottom-home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vb;
}

.content-bottom-topleft-home{
    width: 100%;
    background-color: #252926;
    display: flex;
}

.content-bottom-left-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

.content-bottom-right-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-border {
    background-color: #9d7a42;
    padding: 20px;
}

.main-signup {
    flex: 1; /* This will make the main content take up the remaining space */
    margin-top: 50px;
}

.footer-left, .footer-right {
    margin-top: 20px;
}

.footer-left img {
    width: 100px;
    margin-top: 20px;
}

.footer-right-container img {
    width: 24px;
    margin-right: 10px;
}

footer {
    background-color: #424242;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 0px;
}   

.login-form {
    border: 2px solid #ccc;
    padding: 20px; 
    width: 300px;
    margin: 0 auto;
}

.menu-form {
    display: inline-block;
    width: 120px;
}

.textFields-form {
    width: calc(100% - 5px); 
}

button.submitbtn{
        background-color: #9d7a42;
        position: relative;
        left: 20px;
        bottom: 30px;
    }

.signup-heading{
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
    color: #333; 
    margin-bottom: 20px;
}