/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* separate styles of each page by comment  */


/* styles for classes inside main-home */

@media only screen and (max-width: 728px) {
    .header-right{
        width: 100%;
    }
    .left-top-home{
        width: 100%;
        min-height: 60vb;
        background-color: #343935;
        border: rebeccapurple;
    }
    .right-top-home{
        width: 100%;
    }
}

.content-top-home{
    background-color: #343935;
    width: 100%;
}

.left-top-home{
    width: 50%;
    min-height: 60vb;
    background-color: #343935;
    border: rebeccapurple;
}



.left-top-home h2{
    color: #AF8C53;
}

.right-top-home{
    width: 50%;
    background-color: black;
    border: red;

}

.content-middle-home{
    width: 100%;
    background-color: #252926;
    min-height: 50vb;
}

.content-bottom-home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vb;
}

.content-bottom-topleft-home{
    width: 100%;
    background-color: #252926;
    display: flex;
}

.content-bottom-left-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

.content-bottom-right-home{
    width: 50%;
    background-color: #252926;
    text-align: center;
}

#booknowbtn{
    text-decoration: none;
    color: white;
}

/* styles for signup */

